
.Rhistory

Bellabeat_Case_study.html

Fitabase/dailyIntensities_merged.csv

Fitabase/dailySteps_merged.csv

Fitabase/heartrate_seconds_merged.csv

Fitabase/hourlyCalories_merged.csv

Fitabase/hourlyIntensities_merged.csv

Fitabase/hourlySteps_merged.csv

Fitabase/minuteCaloriesNarrow_merged.csv

Fitabase/minuteCaloriesWide_merged.csv

Fitabase/minuteIntensitiesNarrow_merged.csv

Fitabase/minuteIntensitiesWide_merged.csv

Fitabase/minuteMETsNarrow_merged.csv

Fitabase/minuteSleep_merged.csv

Fitabase/minuteStepsNarrow_merged.csv

Fitabase/minuteStepsWide_merged.csv

Fitabase/dailyCalories_merged.csv
